body {
  background-color: #1c1c1c;
}

input {
  padding: 8px 16px;
}

.form-control,
.form-control:focus {
  border-color: #ffffff;
  background-color: transparent;
  color: #c1c1c1;
}

.datepicker-cell:not(.disabled):hover {
  background-color: #e8e8e8;
}

.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  background-color: #e8e8e8;
  color: #000;
}
