footer {
  position: relative;
  background-color: #1a1a1a;
  color: #909090;
  padding: 16px;
  font-size: 14px;
  @include media-breakpoint-up(md) {
    font-size: $font-size-base;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
