footer {
  position: relative;
  background-color: #1a1a1a;
  color: #909090;
  padding: 16px;
  font-size: 14px;
  @include media-breakpoint-up(md) {
    font-size: $font-size-base;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

//為元素底線
footer {
  &:before {
    position: absolute;
    content: "";
    border-bottom: 3px solid $primary;
    top: 0;
    width: 50%;
    left: 0%;
  }
}

footer {
  &:after {
    position: absolute;
    content: "";
    border-bottom: 3px solid#09ACF5;
    top: 0;
    width: 50%;
    left: 50%;
  }
}
