// banner
.banner {
  background-image: url("../images/bg_home_mobile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 336px;
  width: 100%;
  margin-top: 72px;
  @include media-breakpoint-up(md) {
    background-image: url("../images/bg_home.jpeg");
    height: 680px;
  }
}

.bannerText {
  background-color: #202020;
  border: 1px solid #fff;
  padding: 32px 26px;
  text-align: center;
  h2 {
    font-size: $h4-font-size;

    @include media-breakpoint-up(md) {
      font-size: $font-size-lg;
    }
  }
  p {
    font-size: $h4-font-size;
    color: #ffffff;
    @include media-breakpoint-up(md) {
      font-size: $font-size-lg;
    }
  }
  h3 {
    font-size: $font-size-base;
    color: #ffffff;
    @include media-breakpoint-up(md) {
      font-size: $h6-font-size;
    }
  }
}
.topLeft-dot {
  width: 10px;
  height: 10px;
  background-color: #fff;

  top: -5px;
  left: -5px;
}
.topRight-dot {
  width: 10px;
  height: 10px;
  background-color: #fff;

  top: -5px;
  right: -5px;
}
.bottomLeft-dot {
  width: 10px;
  height: 10px;
  background-color: #fff;

  bottom: -5px;
  left: -5px;
}

.bottomRight-dot {
  width: 10px;
  height: 10px;
  background-color: #fff;

  bottom: -5px;
  right: -5px;
}

//feature
.feature {
  background-color: $secondary;
  color: #ffffff;

  h2 {
    margin-top: 40px;
    @include media-breakpoint-up(lg) {
      margin-top: 164px;
    }
    margin-bottom: 24px;
    line-height: 40px;
    font-size: $h3-font-size;
    text-align: center;
    position: relative;
    padding-bottom: 16px;
    &:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: #62db54;
      bottom: 0;
      left: calc(50% - 32px);
    }
  }

  .card {
    background: #2d2d2d;
    padding-top: 40px;
    margin-bottom: 24px;
    border-radius: 16px;
    &:hover {
      background: #202020;
      border: 1px solid #62db54;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 80px;
      margin-bottom: 80px;

      border: 1px solid transparent;
      &:hover {
        background: #202020;
        border: 1px solid #62db54;
      }
    }
    span {
      font-size: 40px;
      margin-bottom: 36px;
      display: block;
      &:hover {
        @include gradient-text;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 28px;
      }
    }
    .card-title {
      font-size: $h6-font-size;
      font-weight: bold;
      margin-bottom: 16px;
    }
    .card-body {
      margin-bottom: 40px;
    }
  }
}

//預期上課流程 procedure
.procedure {
  h2 {
    margin-top: 40px;
    @include media-breakpoint-up(lg) {
      margin-top: 80px;
      margin-bottom: 48px;
    }
    margin-bottom: 24px;
    line-height: 40px;
    font-size: $h3-font-size;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding-bottom: 16px;
    &:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: #62db54;
      bottom: 0;
      left: calc(50% - 32px);
    }
  }

  .procedure-card {
    @include media-breakpoint-up(md) {
      height: 200px;
    }
  }
  .procedure-title {
    color: $primary;
    font-size: $font-size-lg;

    top: -36px;
    left: 48px;
    background-color: #1c1c1c;
    padding-left: 8px;
    padding-right: 8px;
  }
  .procedure-text {
    border: 1px solid #ffffff;
    border-radius: 12px;
    padding: 48px;
    color: #ffffff;
    h3 {
      font-size: $h3-font-size;
      font-weight: bold;
      margin-bottom: 16px;
    }
    p {
      font-size: $h6-font-size;
      line-height: 26px;
    }
  }
}

.procedure {
  .row {
    @include media-breakpoint-up(lg) {
      margin-bottom: 80px;
    }
  }
}

//type of language
.type {
  h2 {
    margin-top: 40px;
    @include media-breakpoint-up(lg) {
      margin-top: 80px;
      margin-bottom: 48px;
    }
    margin-bottom: 24px;
    line-height: 40px;
    font-size: $h3-font-size;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding-bottom: 16px;
    &:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: #62db54;
      bottom: 0;
      left: calc(50% - 32px);
    }
  }
}
.type {
  li {
    border-radius: 8px;
    margin-right: 8px;
    margin-top: 48px;
    margin-bottom: 80px;
    a {
      font-size: $font-size-base;
      padding: 16px;
    }
  }
}

//熱門課程推薦 popular Course
.popularCourse {
  h2 {
    margin-top: 40px;
    @include media-breakpoint-up(lg) {
      margin-top: 80px;
      margin-bottom: 48px;
    }
    margin-bottom: 24px;
    line-height: 40px;
    font-size: $h3-font-size;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding-bottom: 16px;
    &:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: #62db54;
      bottom: 0;
      left: calc(50% - 32px);
    }
  }
}
.popularCourse {
  .card {
    background-color: $secondary;
    color: white;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $primary;
      cursor: pointer;
    }

    .card-header {
      margin-top: 24px;
      border: none;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }
  }
}
.popularCourse {
  .card {
    border-radius: 25px;
    margin-bottom: 16px;
    height: 451px;
  }
  .card-body {
    padding-left: 32px;
    padding-right: 32px;
    @include media-breakpoint-up(lg) {
      padding-left: 24px;
      padding-right: 24px;
    }

    .card-title {
      .frontend {
        font-size: $font-size-base;
        font-weight: bold;
        margin-top: 36px;
      }
      h4 {
        color: #62db54;
        font-size: $font-size-base;
      }
    }
    .card-text {
      border-bottom: 1px solid #c1c1c1;
    }
  }
}

.popularCourse {
  .card-body {
    span {
      font-size: $font-size-base;
    }
    .coursePrice {
      font-family: "Azeret Mono";
      font-size: $h1-font-size;
      font-weight: bold;
    }
  }
  .allCourseBtn {
    &:hover {
      transform: scale(1.1);
    }
    @include media-breakpoint-up(lg) {
      margin-top: 48px;
      padding: 8px 32px;
    }
  }
}

//feature2特色
.bg-clip {
  background-color: #1c1c1c90;
  &:hover {
    opacity: 0;
  }
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.feature2-card {
  text-align: center;
  span {
    margin-top: 42px;
    color: $primary;
    font-size: 28px;
  }
  h2 {
    margin-top: 18px;
    @include media-breakpoint-up(lg) {
      margin-top: 80px;
      margin-bottom: 48px;
    }
    margin-bottom: 32px;
    line-height: 40px;
    font-size: $h3-font-size;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding-bottom: 16px;
    &:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: #62db54;
      bottom: 0;
      left: calc(50% - 32px);
    }
  }
  p {
    font-size: $h6-font-size;
    margin-bottom: 0;
  }
}
.feature2-card-bg1 {
  background-image: url("../images/info01.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.feature2-card-bg2 {
  background-image: url("../images/info02.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.feature2-card-bg3 {
  background-image: url("../images/info03.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.feature2-card-bg4 {
  background-image: url("../images/info04.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

//article文章分享
.article {
  background-color: #1c1c1c;
  h2 {
    margin-top: 40px;
    @include media-breakpoint-up(lg) {
      margin-top: 80px;
      margin-bottom: 48px;
    }
    margin-bottom: 40px;
    line-height: 40px;
    font-size: $h3-font-size;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding-bottom: 16px;
    &:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: #62db54;
      bottom: 0;
      left: calc(50% - 25px);
    }
  }
  .card {
    background-color: #1c1c1c;
    color: #ffffff;
    border: none;
    padding: 32px;
    @include media-breakpoint-up(md) {
      margin-bottom: 80px;
    }
    .card-body {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 24px;
      .moreBtn {
        a {
          display: block;
          font-size: $h6-font-size;
          font-family: "Azeret Mono";
          color: $primary;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
}
.article {
  .card-title {
    font-size: $h6-font-size;
    font-weight: bold;
    margin-bottom: 16px;
  }
}

//參考hex每日任務
.squareRounded {
  display: none;
  width: 32px;
  height: 32px;
  &-topLeft {
    border-top: 1px solid #62db54;
    border-left: 1px solid #62db54;
    border-top-left-radius: 10px;
  }
  &-topRight {
    border-top: 1px solid #62db54;
    border-right: 1px solid #62db54;
    border-top-right-radius: 10px;
  }
  &-bottomLeft {
    border-bottom: 1px solid #62db54;
    border-left: 1px solid #62db54;
    border-bottom-left-radius: 10px;
  }
  &-bottomRight {
    border-bottom: 1px solid #62db54;
    border-right: 1px solid #62db54;
    border-bottom-right-radius: 10px;
  }
}

.card:hover {
  .squareRounded {
    display: block;
  }
}

// review
.reviews {
  h2 {
    margin-top: 40px;
    @include media-breakpoint-up(lg) {
      margin-top: 80px;
      margin-bottom: 48px;
    }
    margin-bottom: 40px;
    line-height: 40px;
    font-size: $h3-font-size;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding-bottom: 16px;
    &:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: #62db54;
      bottom: 0;
      left: calc(50% - 25px);
    }
  }
}

//參考老師的每日任務解答
// reviews區塊背景
.reviews {
  background-image: url("../images/bg_share.jpeg");
  height: 733px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0;
  @include media-breakpoint-up(lg) {
    height: auto;
  }
}

// 輪播整體寬高
.swiper {
  width: 100%;
  height: 429px;
  @include media-breakpoint-up(lg) {
    height: auto;
  }
  //left圖片位置
  &-img {
    top: 0;
    left: 10px;
    width: 60%;
    height: 90%;
    border-radius: 24px;
    position: absolute;
    // 上面圖片後面的灰框框
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid #7c7e77;
      border-radius: 24px;
      left: -10px;
      top: 10px;
      z-index: -1;
      @include media-breakpoint-up(lg) {
        left: -5px;
        top: 5px;
      }
    }
    //left圖片大小樣式
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 24px;
    }
    @include media-breakpoint-up(lg) {
      position: relative;
      width: calc(100% - 5px);
      height: 213px;
      left: 5px;
      margin-bottom: 40px;
    }
  }

  // right卡片區塊大小位置
  .card {
    width: 45%;
    padding: 32px;
    border-radius: 24px 24px 24px 0;
    bottom: 0;
    right: 0;
    position: absolute;
    h3 {
      font-size: 18px;
    }
    // 圓頭像大小位置
    &-img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      position: absolute;
      right: 32px;
      bottom: 100%;
      transform: translateY(50%);
      @include media-breakpoint-up(lg) {
        width: 80px;
        height: 80px;
        right: 24px;
        top: -30px;
        bottom: auto;
        transform: none;
      }
    }
    @include media-breakpoint-up(lg) {
      position: relative;
      width: 100%;
      padding: 24px;
      margin-bottom: 32px;
    }
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    content: "";
  }

  // 左右箭頭位置大小顏色設定
  &-button-next,
  &-button-prev {
    position: unset;
    width: 24px;
    height: 24px;
    margin-top: 0;
    color: #62db54;
  }

  // 綠色點點分頁位置
  .swiper-pagination {
    position: unset;
    width: auto;
    // 綠色點點
    .swiper-pagination-bullet {
      background-color: #62db54;
      opacity: initial;
      &-active {
        width: 16px;
        border-radius: 100px;
      }
    }
  }

  &-buttons {
    bottom: 0;
    left: 30%;
    transform: translateX(-50%);
    z-index: 10;
    position: absolute;
    @include media-breakpoint-up(lg) {
      position: initial;
      transform: none;
    }
  }
}
