body {
  background-color: #000000;
}
// 進度條
.process {
  margin-top: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
  .processBg {
    background-color: #000000;
    @include media-breakpoint-up(md) {
      background-color: #1c1c1c;
      margin-top: 60px;
    }
  }

  // 參考每日任務
  // 為元素時間軸
  .timeline {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 9px;
      @include media-breakpoint-up(lg) {
        top: 10px;
      }
      left: 0;
      right: 0;
      height: 2px;
      background-color: #c1c1c1;
    }
    &-pointer {
      position: relative;
      color: #c1c1c1;
      p {
        padding-top: 24px;
        margin-bottom: 0;
        line-height: 1.5;
      }
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: 20px;
        border: 1px solid #c1c1c1;
        border-radius: 50%;
        background-color: #2d2d2d;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        z-index: 1;
      }
      &.step-1::before {
        content: "1";
      }
      &.step-2::before {
        content: "2";
      }
      &.step-3::before {
        content: "3";
      }
      &.active {
        color: #62db54;
        &::before {
          color: #ffffff;
          background-color: #62db54;
          border-color: #62db54;
        }
      }
    }
  }
}

// 課程報名系統
.enrol {
  h2 {
    @include media-breakpoint-up(lg) {
      font-size: $h3-font-size;
      padding-top: 48px;
      padding-bottom: 48px;
    }
  }
}

// <!-- 老師課程訊息 左 col-md-4 -->
.courseInfo {
  color: #ffffff;
  text-align: center;
  padding: 24px;
  background-color: $secondary;
  @include media-breakpoint-up(lg) {
    margin-top: 265px;
    margin-left: -10px;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  h3 {
    font-weight: bold;
    font-size: $font-size-base;
    margin-bottom: 8px;

    @include media-breakpoint-up(md) {
      font-size: $h6-font-size;
    }
  }
  span {
    color: $primary;
    font-size: $font-size-base;
    margin-bottom: 8px;
  }
  p {
    font-size: $font-size-base;
    text-align: start;
  }
}
.courseInfo {
  &::after {
    content: "";
    position: absolute;

    right: calc(50%-12px);
    bottom: -18px;
    transform: rotate(90deg);
    /*  三角  */
    width: 0;
    height: 0;
    border-width: 12px 0 12px 12px;
    border-style: solid;
    border-color: transparent transparent transparent #2d2d2d;
    @include media-breakpoint-up(md) {
      transform: rotate(0deg);
      top: calc(50%-12px);
      left: 100%;
      bottom: 185px;
    }
  }
}
@include media-breakpoint-up(md) {
  padding: 48px 32px;
}
// 課程報名 付款方式 &訂單資訊"col-md-8
.courseEnrol {
  @include media-breakpoint-up(md) {
    margin-left: 40px;
  }
  @include media-breakpoint-up(lg) {
    margin-left: -48px;
  }
  .courseEnrolInfo {
    background-color: #1c1c1c;
    padding: 24px;
    @include media-breakpoint-up(md) {
      padding: 48px 32px;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 114px;
      padding-right: 32px;
      padding-bottom: 48px;
      margin-bottom: 114px;

      color: white;
      h3 {
        font-size: $h6-font-size;
      }
    }
  }
}

// 付款方式
.payMethod {
  flex-wrap: wrap;

  h3 {
    color: #ffffff;
    font-size: $h6-font-size;
  }
  .payBtn {
    background-color: #1c1c1c;
    padding: 16px 32px;
    color: white;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    &:hover {
      border: 1px solid $primary;
      color: $primary;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 32px;
    }
  }
}

//orderInfo
.orderInfo {
  h3 {
    @include media-breakpoint-up(lg) {
      margin-bottom: 24px;
    }
  }
  .btn {
    &:hover {
      transform: scale(1.1);
    }
  }
}

input {
  padding: 8px 16px;
}

.form-control,
.form-label,
.form-control:focus {
  border-color: #ffffff;
  background-color: transparent;
  color: #c1c1c1;
}

.datepicker-cell:not(.disabled):hover {
  background-color: #e8e8e8;
}

.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  background-color: #e8e8e8;
  color: #000;
}

// 改變日曆日期的文字顏色
.datepicker-cell,
.days-of-week .dow {
  color: black;
}
