<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <header class="fixed-top">
      <div class="container">
        <!--logo+menuBtn+dropdown-->
        <div class="d-flex justify-content-between align-items-center">
           <!-- //logo/ -->
            <div class="logo">
            <img src="./assets/images/logo2.svg" alt="logo" /><a href="#"></a>
            </div>
         
           <!-- nav mobile -->
           <div class="d-md-none"> 
              <!-- nav menu btn -->
              <div class="menuBtn"> 
                <span class="material-symbols-rounded"> drag_handle </span>
               </div>   
              
             <!-- dropdown menu -->
            <ul class="dropdown list-unstyled">
              <li><a href="./index.html">首頁</a></li>
              <li><a href="#">門市據點</a></li>
              <li >
                <a href="./enrol.html" class="d-flex align-items-center justify-content-center">
                   <span class="material-symbols-rounded"> account_circle </span>
                   <span>登入</span>
                </a>
              </li>
         
            </ul>
           </div>
          <!-- nav md -->
          <div class="d-none d-md-block">
            <ul class="nav d-flex justify-content-between align-items-center">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./index.html">首頁</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">課程介紹</a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex justify-content-center align-items-center" href="./enrol.html"
                  ><span class="material-symbols-rounded"> account_circle </span
                  ><span>登入</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </header>

    <%- contents %>

    <footer class="footer text-center">Coding Home © 2022 All Rights Reserved</footer>
    
    
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>

                 
  </body>
</html>
