.ff-AzeretMono {
  font-family: "Azeret Mono";
}
.gradient-x {
  @include gradient-x(primary, #09acf5);
}

.gradient-text {
  background-image: linear-gradient(180deg, #62db54, #09acf5);
  background-size: 100%;
  background-repeat: repeat;

  background-clip: text;
  //文字遮罩功能
  color: transparent;
  //透明
}

.scroll {
  white-space: nowrap;
  overflow-x: auto;
}
